/* Footer Copyright */
.selection-footer {
    margin-top: 3rem;
    padding: 0.5rem 0;
    border-top: 1px solid #E2E8F0;
    color: #667383;
    font-size: 0.75rem;
    text-align: left;
}

.footer-link {
    color: #ED8936;
    text-decoration: none;
}