/* Assignment Detail Page */
.assignment-detail-wrapper {
  /* max-width: 800px; */
  /* margin: 2rem auto; */
  /* background: #fff; */
  border-radius: var(--radius-lg);
  /* padding: 2rem; */
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.05); */
}

.assignment-detail-wrapper h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
  /* margin-bottom: 1rem; */
}

.assignment-detail-wrapper p {
  font-size: 0.9375rem;
  color: #374151;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.detail-grid {
  display: grid;
  /* grid-template-columns: 1fr 3fr; */
  /* gap: 1rem 1rem; */
  margin-bottom: 1rem;
  background: #fff9;
  /* padding: 1rem; */
  border-radius: var(--radius-sm);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 12px #00000008;
  border: 1px solid #fff9
}

.detail-grid p {
  margin: 0;
  font-size: 0.875rem;
  flex: 0 0 calc((100% / 3) - 0px);
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 1rem 0.5rem;
}
.detail-grid p:nth-child(1), .detail-grid p:nth-child(4), .detail-grid p:nth-child(7) {
  border-left: 0px;
}

.detail-grid strong {
  color: #111827;
  font-weight: 600;
}

/* Attachments */
.attachments-list {
  list-style: none;
  padding: 1rem;
  margin: 1rem 0;
  background: #fff9;
  border-radius: var(--radius-sm);
  display: flex;
  box-shadow: 0 4px 12px #00000008;
  border: 1px solid #fff9;
  flex-wrap: wrap;
}
.attachments-list h3 {
  flex: 0 0 100%;
}
.attachments-list li {
  margin-bottom: 0.75rem;
  flex: 0 0 calc(100% / 3);
  margin-right: 10px;
}

.attachments-list a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #4F46E5;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
}

.attachments-list a:hover {
  color: #4338CA;
}

.inline-icon {
  width: 18px;
  height: 18px;
}

/* Back Button */
.assignment-detail-wrapper .back-btn {
  margin-top: 2rem;
  background: #f3f4f6;
  color: #374151;
  border: none;
  border-radius: var(--radius-sm);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.assignment-detail-wrapper .back-btn:hover {
  background: #e5e7eb;
}
