.student-dashboard {

}
.student-dashboard .student-topup .form-card {
    display: flex;
    gap: 10;
    margin-bottom: 0px;
    padding: 1rem;
    background: #ffffffdb;
}
.student-dashboard .form-card {
    padding: 0.8rem;
    margin-bottom: 0px;
}
.student-dashboard .notice {
    background-color: #439ce9;
}
.student-dashboard {}
.student-dashboard {}