# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Project specific outputs
outputs/
processed_image_debug.jpg
last_processed_image.jpg
*.log
exp/
json_output/
md_output/
raw_code/


# IDEs
.vscode/
.idea/


